<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <data-table :columns="columns" :commons="commons" ></data-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BreadCrum from "../commons/breadcrum";
    import dataTable from "../commons/common-server-side-data-table";
    export default {
        components: {
            BreadCrum, dataTable
        },
        data() {
            return {
                columns: [
                {
                    name: 'first_name',
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "First Name"
                },
                {
                    name: 'last_name',
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "Last Name",
                },
                {
                    name: 'email',
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "Email",
                },
                {
                    name: "roles",
                    sort: false,
                    children: true,
                    switch: false,
                    event: false,
                    label: "Roles"
                },
                {
                    name: "status",
                    sort: true,
                    children: false,
                    switch: true,
                    event: false,
                    label: "Status"
                },
                {
                    name: "mobile_no",
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "Mobile No"
                },
                {
                    name: "phone_no",
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "Phone No"
                },
                {
                    name: "created_at",
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "created_at",
                    width: "180"
                }],
                commons: {
                    url: "users",
                    title : "Users",
                    addUrl : "/users/create",
                    editUrl : "users",
                    deleteUrl : "users/delete",
                    switchUrl: "users"
                }

            }
        },
        mounted() {
        },
        methods: {
            
        }
    };

</script>