<template>
    <div>
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent  bg-primary  navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" style="color: #fff">{{breadcrumb}}</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <b-dropdown hoverable aria-role="list" position="is-bottom-left">
                                <button class="button is-success" slot="trigger" >
                                    <span><i class="fa fa-bell"></i></span>
                                    <span class="notification-badge">{{notifications.length>0 ? notifications.length : 0}}</span>
                                </button>
                                <b-dropdown-item aria-role="listitem" v-if="notifications.length>0">
                                </b-dropdown-item>
                                <b-dropdown-item v-else>
                                    <p>
                                        <b-icon
                                            icon="emoticon-sad"
                                            size="is-small">
                                        </b-icon>
                                    </p>
                                    <p>Empty Notifications!</p>
                                </b-dropdown-item>
                            </b-dropdown>
                        </li>
                        <li class="nav-item dropdown settings">
                            <b-dropdown hoverable aria-role="list" position="is-bottom-left">
                                <button class="button is-info" slot="trigger" >
                                    <span><b-icon icon="settings" size="is-small"/>  {{ucword(profile.first_name)}}</span>
                                    <b-icon icon="menu-down"></b-icon>
                                </button>
                                <b-dropdown-item aria-role="listitem">
                                    <router-link to="/users/profile"><b-icon icon="account" size="is-small"/> Profile</router-link>
                                </b-dropdown-item>
                                <b-dropdown-item aria-role="listitem" @click="logOut()">
                                    <b-icon pack="fa" icon="sign-out" size="is-small"/> Log Out
                                </b-dropdown-item>
                            </b-dropdown>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    import Helper from '../services/helper.js'
	export default {
		data (){
			return {
                baseUrl : this.$store.getters.getBaseUrl,
                breadcrumb: ''
			}
		},
        computed: {
            profile: function(){
                return this.$store.getters.getProfile;
            },
            notifications: function(){
                return this.$store.getters.getNotifications;
            },
            fireBaseRef: function(){
                return this.$store.getters.getFireBaseRef;
            }
        },
        watch: {
            '$route'() {
                let breadcrumb = this.$route.path == '/' ? '/Dashboard': this.$route.path
                this.breadcrumb = Helper.removeFirstletter(breadcrumb);
            }
        },
        mounted(){
            let breadcrumb = this.$route.path == '/' ? '/Dashboard': this.$route.path
            this.breadcrumb = Helper.removeFirstletter(breadcrumb);
        },

	    methods: {
	    	logOut() {
	    		this.$root.loading = true;
	    		var url = '/api/auth/logout';
	    		axios.post(url).then(response=>{
                    localStorage.removeItem('access_token');
                    localStorage.removeItem('vuex');
	    			this.$root.loading = false;
                    delete axios.defaults.headers.common['Authorization'];
                    $store.dispatch('resetIntended');
                    this.$store.dispatch('reSetVuex');
                    this.$router.go({path: "/login"})
                    //this.$router.push('/login');
	    		})
	    		.catch(error=>{
	    			this.$root.loading = false;
	    			this.$router.go({path: '/login'});
	    		})
	    	},
            ucword(word){
                return Helper.ucword(word);
            }
	    }
	}
</script>
<style>
    .panel-header-sm{
        height: 50px;
    }
    .panel-header{
        margin-bottom: 10px;
        padding-top: 20px;
    }
    .dropdown-menu {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .dropdown {
        display: inline-block !important;
        position: relative;
        vertical-align: top;
    }
    @media (max-width: 576px) {
        .navbar-nav{
            background: #1d436a;
        }
        li.nav-item.dropdown a{
            color: #fff;
        }   
        .dropdown + .dropdown {
            margin-left: 0.5em;
            margin-bottom: 10px;
        }
    }
    .notification-badge{
        display: inline-block;
        min-width: 10px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #0f77ea;
        border-radius: 10px;
        margin-left: 4px;
        position: absolute;
        top: -11px;
        right: 38px;
        font-weight: 300;
        padding: 4px 8px;
    }
    
</style>