<template>
  <div id="app">
    <jumper></jumper>
  </div>
</template>

<script>
  import {Jumper} from 'vue-loading-spinner'
  export default {
    components: {
      Jumper
    }
  }
</script>

<style>
	#app{
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background: #202123d9;
		z-index: 100000000000000000;
	}
	.spinner.spinner--jumper {
	    position: relative;
	    display: inline-block;
	    left: 50%;
	    position: absolute;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}
</style>
