<template>
    <div class="wrapper">
        <app-menus></app-menus>
        <div class="main-panel ps-container ps-theme-default">
            <app-header></app-header>
            <router-view></router-view>
            <app-footer></app-footer>
        </div>
    </div>
</template>

<script>
    require('../../../assets/back-end/plugins/js/now-ui-dashboard.js');
    import AppHeader from './header.vue'
    import AppMenus from './menus.vue'
    import AppFooter from './footer.vue'
    export default {
        components: {
            AppHeader,AppMenus,AppFooter
        },
        data() {
            return {
                baseUrl: this.$store.getters.getBaseUrl
            }
        },
        methods: {
        },
        mounted() {
            let isWindows = navigator.platform.indexOf('Win') > -1 ? true : false;
            // if we are on windows OS we activate the perfectScrollbar function
            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();
            if (isWindows) {
                $('html').addClass('perfect-scrollbar-on');
            } else {
                $('html').addClass('perfect-scrollbar-off');
            }
        }
    }
</script>
<style>
    .sidebar-wrapper ul.nav li {
        display: block;
    }
    .content ul {
        list-style: none;
        margin-left: 2em;
        margin-top: 0em;
    }   
</style>