<template>
    <div class="sidebar" data-color="red">
        <!--Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"-->
        <div class="logo">
            <router-link to="/" class="simple-text">
                <div class="logo-img">
                    <img :src="profile.profileimage ? profile.profileimage.save_name : profile_image" alt="" class="is-round">
                </div>
                {{profile.first_name}} {{profile.last_name}}
            </router-link>
        </div>

        <div class="sidebar-wrapper">
            <ul class="nav">
                <li v-for="(menu,i) in menus" :class="[('/'+menu.route)==$route.fullPath? 'active' : '']" :key="i">
                    <router-link :to="'/'+menu.route">
                        <i :class="'fa '+menu.icon"></i>
                        <p>{{menu.name}}</p>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

    export default {
        
        data() {
            return {
                menus: [],
                baseUrl: this.$store.getters.getBaseUrl,
                currentState: this.$route.path,
                profile_image: ''
            }

        },
        computed: {
            profile: function(){
                return this.$store.getters.getProfile;
            }
        },
        watch: {
            '$route'() {
                $('.navbar-toggle.toggled').toggleClass('toggled');
                var menuClass = '.no-js.perfect-scrollbar-on.nav-open';
                if ($('html').hasClass('gr__localhost')) {
                    menuClass = '.no-js.perfect-scrollbar-off.gr__localhost.nav-open';
                }
                $('html'+menuClass).toggleClass('nav-open');
                $('.navbar-toggler.collapsed').toggleClass('collapsed');
                $('.navbar-collapse.justify-content-end.collapse.show').toggleClass('show');
            },
        },
        mounted() {
            db.ref('notifications')
            .on('child_added', function(data) {
                console.log(data.val())
            })
            this.getMenus();
            this.profile_image = this.baseUrl+'/assets/img/default-avatar.png'
        },
        methods: {
            getMenus() {
                axios.post('/api/common/menus').then((response)=>{
                    this.menus = response.data.menus;
                })         
            }
        }
    }
</script>
<style>
    .simple-text {
        padding: 4px 10px !important;
        display: block;
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        line-height: 40px;
        text-align: left !important;
    }
    .logo-img {
        width: 40px !important;
        display: inline-block;
        height: 40px !important;
        margin-left: 0;
        margin-right: 10px;
        background: #fff;
        border-radius: 40px !important;
        text-align: left !important;
    }
</style>
