<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">{{title}}</h5>
                        </div>
                        <div class="card-body">
                            <b-message type="is-danger" has-icon v-if="vError" size="is-small">
                                {{vError}}
                            </b-message>
                            <form @submit.prevent="submit">
                                <b-tabs class="tab-content" v-model="activeTab" @change="tabState($event)">
                                    <b-tab-item label="Fields">
                                        <div class="columns">
                                            <div class="column is-half">
                                                <b-field label="Post Title"
                                                    :type="{'is-danger' : (bErrors.has('post_title') || serrors.has('post_title'))}" 
                                                    label-position="on-border"
                                                    custom-class="is-medium"
                                                    :message="serrors.has('post_title') ? serrors.get('post_title'): bErrors.first('post_title')"
                                                >
                                                    <b-input placeholder="enter the title"
                                                        type="text"
                                                        v-validate="'required'" 
                                                        v-model="post.post_title"
                                                        name="post_title" ref="post_title">
                                                    </b-input>
                                                </b-field>
                                            </div>
                                            <div class="column is-half">
                                                <b-field label="Post Excerpt."
                                                    :type="{'is-danger' : (bErrors.has('post_excerpt') || serrors.has('post_excerpt'))}" 
                                                    label-position="on-border"
                                                    custom-class="is-medium"
                                                    :message="serrors.has('post_excerpt') ? serrors.get('post_excerpt'): bErrors.first('post_excerpt')"
                                                >
                                                    <b-input type="textarea" v-validate="'required'" v-model="post.post_excerpt" name="post_excerpt" ref="post_excerpt"></b-input>
                                                </b-field>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column is-half">
                                                <b-field label="Choose categories"
                                                    custom-class="is-medium"
                                                    label-position="on-border">
                                                    <multiselect v-model="post.categories" tag-placeholder="choose categories" placeholder="Search category" label="name" track-by="name" :options="categories" :multiple="true"></multiselect>
                                                </b-field>
                                            </div>
                                            <div class="column is-half">
                                                <b-field label="Choose Tags"
                                                    custom-class="is-medium"
                                                    label-position="on-border">
                                                    <multiselect v-model="post.tags" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="slug" :options="tags" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
                                                </b-field>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column is-half">
                                                <b-field label="Phone no"
                                                    :type="{'is-danger' : (bErrors.has('phone') || serrors.has('phone'))}" 
                                                    label-position="on-border"
                                                    custom-class="is-medium"
                                                    :message="serrors.has('phone') ? serrors.get('phone'): bErrors.first('phone')"
                                                >
                                                    <b-input type="text" v-model="post.phone" placeholder="Enter valid phone" v-validate="'required'" name="phone" ref="phone"></b-input>
                                                </b-field>
                                            </div>
                                            <div class="column is-half">
                                                <b-field label="Email"
                                                    :type="{'is-danger' : (bErrors.has('email') || serrors.has('email'))}" 
                                                    label-position="on-border"
                                                    custom-class="is-medium"
                                                    :message="serrors.has('email') ? serrors.get('email'): bErrors.first('email')"
                                                >
                                                    <b-input type="text" v-model="post.email" placeholder="Enter valid email" v-validate="'required|email'" name="email" ref="email"></b-input>
                                                </b-field>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column is-full">
                                                <b-field label="Content"
                                                custom-class="is-medium"
                                                label-position="on-border">
                                                    <vue-editor id="editor" useCustomImageHandler @imageAdded="handleImageAdded" v-model="post.post_content"></vue-editor>
                                                </b-field>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column is-one-fifth">
                                                <b-field label="Choose post type"
                                                    :type="{'is-danger' : (bErrors.has('post_type') || serrors.has('post_type'))}" 
                                                    label-position="on-border"
                                                    custom-class="is-medium"
                                                    :message="serrors.has('post_type') ? serrors.get('post_type'): bErrors.first('post_type')"
                                                    ref="post_type"
                                                >
                                                    <multiselect v-model="post.post_type" 
                                                    :options="postTypes" 
                                                    placeholder="Select post type"
                                                    track-by="value" label="name" 
                                                    @input="changePostType($event)" 
                                                    :class="bErrors.first('post_type') ? 'input-error': ''"
                                                    v-validate="'required'" 
                                                    name="post_type"></multiselect>
                                                </b-field>
                                            </div>
                                        </div>
                                        <div class="columns" v-if="showEventDate">
                                            <div class="column is-4">
                                                <b-field label="Start Date" 
                                                    :type="{'is-danger' : (bErrors.has('start_date') || serrors.has('start_date'))}" 
                                                    label-position="on-border"
                                                    custom-class="is-medium"
                                                    :message="serrors.has('start_date') ? serrors.get('start_date'): bErrors.first('start_date')"
                                                    ref="start_date"
                                                >
                                                    <date-pick
                                                        v-model="post.start_date"
                                                        :pickTime="true"
                                                        :format="'YYYY-MM-DD HH:mm'"
                                                        v-validate="requiredForDate"
                                                        :class="{'input-error': (bErrors.has('start_date') || serrors.has('start_date'))}"
                                                        name="start_date"
                                                    ></date-pick>
                                                </b-field>
                                            </div>
                                            <div class="column is-full">
                                                <b-field label="End Date" 
                                                    :type="{'is-danger' : (bErrors.has('end_date') || serrors.has('end_date'))}" 
                                                    label-position="on-border"
                                                    custom-class="is-medium"
                                                    :message="serrors.has('end_date') ? serrors.get('end_date'): bErrors.first('end_date')"
                                                    ref="end_date"
                                                >
                                                    <date-pick
                                                        v-model="post.end_date"
                                                        :pickTime="true"
                                                        :format="'YYYY-MM-DD HH:mm'"
                                                        v-validate="requiredForDate"
                                                        :class="{'input-error': (bErrors.has('end_date') || serrors.has('end_date'))}"
                                                        name="end_date"
                                                    ></date-pick>
                                                </b-field>
                                            </div>
                                        </div>
                                        <places v-if="post.location_name && showLocationInEDit=='edit'" :locationName="post.location.location_name" v-model="post.location.location_name" name="location" 
                                            v-validate="'required'" 
                                            v-on:setLocation="setLocation"
                                            :message="serrors.has('location.latitude') ? serrors.get('location.latitude'): bErrors.first('location')"
                                            :type="{'is-danger' : (bErrors.has('location') || serrors.has('location.latitude'))}"
                                            :lat="post.location.latitude"
                                            :lng="post.location.longitude"
                                            ref="location"
                                            >
                                        </places>

                                        <places v-else-if="showLocationInEDit=='create'" :locationName="post.location.location_name" v-model="post.location.location_name" 
                                            name="createlocation" 
                                            v-on:setLocation="setLocation"
                                            :message="serrors.has('location.latitude') ? serrors.get('location.latitude') : ''"
                                            :type="{'is-danger' : serrors.has('location.latitude') }"
                                            ref="location"
                                            >
                                        </places>
                                    </b-tab-item>
                                    <b-tab-item label="Images">
                                        <div class="columns">
                                            <div class="column is-full">
                                                <div class="field is-grouped">
                                                    <p class="control">
                                                        <a class="button is-info" href="#" @click.prevent="postImages('radio')">
                                                          Select feature Image
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tile is-ancestor">
                                                    <div class="tile is-8 is-vertical">
                                                        <div class="tile">
                                                            <div class="tile is-parent">
                                                                <article class="tile is-child box">
                                                                    <ul class="ul-checkbox" v-if="image">
                                                                        <li class="li-checkbox">
                                                                            <input type="checkbox" id="cbb">
                                                                            <label for="cbb">
                                                                                <img :src="image.save_name" width="100px" height="100px">
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                    <ul v-else>
                                                                        <b-message type="is-info" has-icon size="is-small">
                                                                            No feature image is selected!
                                                                        </b-message>
                                                                    </ul>
                                                                </article>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column is-full">
                                                <div class="field is-grouped">
                                                  <p class="control">
                                                    <a class="button is-info" href="#" @click.prevent="postImages('checkbox')">
                                                      Select Post Image
                                                    </a>
                                                  </p>
                                                  <p class="control" v-if="deletImages.length>0">
                                                    <a class="button is-danger" href="#" @click.prevent="handleSelectedImg()">
                                                      Delete images
                                                    </a>
                                                  </p>
                                                </div>
                                                <div class="tile is-ancestor">
                                                    <div class="tile is-8 is-vertical">
                                                        <div class="tile">
                                                            <div class="tile is-parent">
                                                                <article class="tile is-child box">
                                                                    <ul class="ul-checkbox" v-if="images.length>0">
                                                                        <li class="li-checkbox" v-for="image in images">
                                                                            <input type="checkbox" :id="'cb-1'+image.id" v-model="deletImages" :value="image.id">
                                                                            <label :for="'cb-1'+image.id">
                                                                                <img :src="image.save_name" width="100px" height="100px">
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                    <ul v-else>
                                                                        <b-message type="is-info" has-icon size="is-small">
                                                                            No images are selected!
                                                                        </b-message>
                                                                    </ul>
                                                                </article>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </b-tab-item>
                                </b-tabs>
                                <div class="column is-half">
                                    <button class="button is-success">{{title}}</button>
                                    <router-link to="/posts" class="button is-default">Cancel</router-link>
                                </div>
                            </form>
                        </div>
                        <medias :type="type" v-on:fetchPostImg="fetchPostImg" class="modal fade" id="pimages" role="dialog" data-backdrop="static" data-keyboard="false"></medias>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BreadCrum from "../commons/breadcrum";
    import Medias from "../commons/medias";
    import DatePick from "vue-date-pick";
    import "vue-date-pick/dist/vueDatePick.css";
    import { VueEditor } from "vue2-editor";
    import {Errors} from '../commons/validator.js';
    import Places from "../commons/google-places";
    export default {
        components: {
            BreadCrum,
            Medias,
            DatePick,
            VueEditor,
            Places
        },
        computed: {
            'requiredForDate'() {
                return this.post.post_type.value == 'event' ? 'required' : '';
            }
        },
        data: function () {
            return {
                serrors: new Errors(),
                type: 'radio',
                vError: '',
                categories: [],
                image: '',
                images: [],
                deletImage: {},
                deletImages: [],
                tags: [],
                showEventDate: false,
                activeTab: 0,
                title: "Create Event",
                baseUrl: this.$store.getters.getBaseUrl,
                postTypes: [
                    {id: 1, name: "event", value: "event"},
                    {id: 2, name: "hotel", value: "hotel"},
                    {id: 3, name: "restaurant", value: "restaurant"}
                ],
                errors: [],
                value: [],
                post: {
                    feature_image: {},
                    post_images: [],
                    categories: [],
                    tags: [],
                    post_title: "",
                    post_content: "",
                    post_excerpt: "",
                    post_type: "",
                    user_id: "",
                    updated_by: "",
                    longitude: "",
                    latitude: "",
                    start_date: "",
                    end_date: "",
                    location: {},
                },
                showLocationInEDit: null
            };
        },
        mounted: function () {
            this.initCategories();
            this.initTags();
            this.showLocationInEDit = this.$route.params.id ? 'edit' : 'create'
            this.url = '/api/posts/create';
            this.title = "Create Post";
            if(this.$route.params.id){
                this.initEdit();
                this.url = '/api/posts/update/'+this.$route.params.id;
                this.title = "Update Post";
            }
        },
        methods: {
            handleValidationError() {
                const firstField = Object.keys(this.bErrors.collect())[0];
                this.$refs[firstField].focus();
            },
            fetchPostImg(data){
                if(this.type == 'radio'){
                    this.image = data;
                    this.post.feature_image = this.image;
                }
                else{
                    this.images = data;
                    this.post.post_images = this.images;
                }
                
            },
            setLocation(data){
                this.post.location = data;
            },
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    slug: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
                this.tags.push(tag)
                this.post.tags.push(tag)
            },
            handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
                let formData = new FormData();
                formData.append('type', 'editor');
                formData.append("image", file);
                axios.post('/api/media/upload',formData).then((response)=>{
                    let url = response.data.url; // Get url from response
                    Editor.insertEmbed(cursorLocation, "image", url);
                    resetUploader();
                }).catch(err => {
                  console.log(err);
                });
            },

            changePostType: function(option){
                if(option.value=='event'){
                    this.showEventDate=true;
                }
                else{
                    this.showEventDate = false;
                }
            },
            submit() {
                this.$validator.validateAll().then((valid)=>{
                    if(valid){
                        this.handleSubmit();
                    }
                    else{
                        if(this.activeTab == 1){
                            this.activeTab = 0;
                        }
                        this.handleValidationError();
                        return false
                    }
                })
            },

            handleSubmit(){
                //return false;
                this.$root.loading = true;
                delete this.post.files; 
                delete this.post.postfile;
                axios.post(this.url,this.post).then((response)=>{
                    this.$root.loading = false;
                    if(response.data.notify){
                        db.ref('notifications')
                        .on('child_added', function(data) {
                            console.log(data.val())
                        });
                        // db.collection("notifications").onSnapshot((res)=>{
                        //     let data = [];
                        //     res.forEach((doc)=>{
                        //         data.push(doc);
                        //     })
                        //     console.log(data);
                        // })
                        this.$store.commit('setFireBaseRef', response.data.notify);
                        // let documentID;
                        // db.collection("notifications").add(response.data.notify)
                        // .then((refDoc)=>{
                        //     console.log(refDoc.id);
                        //     documentID = refDoc.id
                        // })
                        // .catch((error)=>{
                        // });

                        // db.collection("notifications").onSnapshot((res)=>{
                        //     let data = [];
                        //     res.forEach((doc)=>{
                        //         data.push(doc);
                        //     })
                        //     console.log(data);
                        // })
                        /*db.collection('notifications').document(documentID).delete()*/
                    }

                    this.$router.push('/posts');
                }).catch((error)=>{
                    this.$root.loading = false;
                    this.vError = error.response.data.message;
                    this.serrors.record(error.response.data.errors);
                    this.handleValidationError();
                })

            },

            initEdit() {
                const url = "/api/posts/" + this.$route.params.id + "/edit";
                axios.get(url).then((res) => {
                    this.post = res.data.edit;
                    let post_type = this.postTypes.filter(r=>r.value == res.data.edit.post_type);
                    this.post.post_type = post_type[0];
                    if(this.post.post_type.value=='event'){
                        this.showEventDate = true;
                    }
                    this.images = res.data.edit.files;
                    this.image = res.data.edit.postfile;
                    this.post.post_images = this.images;
                    this.post.feature_image = this.image;
                    console.log(this.post)
                })
                .catch((error) => {

                });
            },

            postImages(type){
                this.type = type;
                $('#pimages').modal('show');
            },
            initCategories(){
                axios.get('/api/common/categories').then((response)=>{
                    this.categories = response.data.categories;
                }).catch((error)=>{

                })
            },

            handleSelectedImg(type){
                for(let prop in this.deletImages){
                    let index = this.post.post_images.find((item)=>{
                        return item.id == this.deletImages[prop];
                    });
                    if(index){
                        this.post.post_images.splice(index, 1);
                        if(this.deletImages.length == 0){
                            this.images =[];
                        }
                    }
                }                
            },
            tabState(index){
                this.activeTab = index;
            },
            initTags(){
                axios.get('/api/common/tags').then((response)=>{
                    this.tags = response.data.tags;
                }).catch((error)=>{

                })
            }
        }
    };

</script>
<style scoped>
    .tab-content {
        height: 450px;
        overflow-y: auto;
    }
    .multiselect ul {
        margin-left: 0 !important;
    }
    ul.ul-checkbox {
        list-style-type: none;
        
    }
    ul.ul-checkbox1 {
        list-style-type: none;
        
    }

    li.li-checkbox {
        display: inline-block;
    }

    .li-checkbox input[type="checkbox"][id^="cb"] {
        display: none;
    }

    .li-checkbox input[type="radio"][id^="cb"] {
        display: none;
    }

    .li-checkbox label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 7px;
        cursor: pointer;
    }

    .li-checkbox label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    .li-checkbox label img {
        height: 100px;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

    :checked+label {
        border-color: #ddd;
    }

    :checked+label:before {
        content: "✓";
        background-color: grey;
        transform: scale(1);
    }

    :checked+label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
    }
    .b-tabs .tab-content {
        border: 1px solid #f6f2f2;
    }
    .input-error{
        border : 1px solid red;
        border-radius: 6px;
    }
</style>