<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
		<div class="content">
            <div class="row">
                <div class="col-md-12">
                    <data-table :columns="columns" :commons="commons" ></data-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BreadCrum from "../commons/breadcrum";
    import dataTable from "../commons/common-server-side-data-table";
    export default {
        components: {
            BreadCrum, dataTable
        },
        data() {
            return {
                columns: [
                {
                    name: 'post_title',
                    sort: true,
                    titleLimitTo: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "Title"
                },
                {
                    name: 'post_status',
                    sort: true,
                    children: false,
                    switch: true,
                    event: false,
                    label: "Status",
                },
                {
                    name: "categories",
                    sort: false,
                    children: true,
                    switch: false,
                    event: false,
                    label: "Categories"
                },
                {
                    name: "post_type",
                    sort: true,
                    children: false,
                    switch: false,
                    event: true,
                    label: "Post Type"
                },
                {
                    name: "created_at",
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "created_at",
                    width: "180"
                }
                ],
                commons: {
                    url: "posts",
                    title : "Posts",
                    addUrl : "/posts/create",
                    editUrl : "posts",
                    deleteUrl : "posts/delete",
                    switchUrl: "posts",
                    linkTo: "posts"
                }

            }
        },
        mounted() {
        },
        methods: {
            
        }
    };

</script>