<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">{{title}}</h5>
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import helper from "../services/helper";
    export default {
        components: {
        },
        data() {
            return {
                title: "Dashboard",
                baseUrl: this.$store.getters.getBaseUrl
            };
        },
        created() {},
        mounted() {
            this.init();
        },
        methods: {
            init() {
                this.$root.loading = true;
                var url = "/api/dashboard/";
                axios.get(url).then(response => {
                    this.$root.loading = false;
                    console.log(response);
                }).catch(error => {
                    this.$root.loading = false;
                });
            }
        }
    };

</script>
