<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">{{title}}</h5>
                        </div>
                        <div class="card-body">
                            <b-message type="is-danger" has-icon v-if="vError" size="is-small">
                                {{vError}}
                            </b-message>
                            <form @submit.prevent="submit">
                                <b-tabs v-model="activeTab" @change="tabState($event)">
                                    <b-tab-item label="Fields">
                                        <div class="columns">
                                            <div class="column is-4">
                                                <b-field label="Name"
                                                    :type="{'is-danger' : (bErrors.has('name') || serrors.has('name'))}" 
                                                    label-position="on-border"
                                                    custom-class="is-medium"
                                                    :message="serrors.has('name') ? serrors.get('name'): bErrors.first('name')"
                                                >
                                                    <b-input placeholder="enter the name"
                                                        type="text"
                                                        v-validate="'required'" 
                                                        v-model="restaurant.name"
                                                        name="name">
                                                    </b-input>
                                                </b-field>
                                            </div>
                                            <div class="column is-4">
                                                <b-field label="Choose Tags"
                                                    custom-class="is-medium"
                                                    label-position="on-border">
                                                    <multiselect v-model="restaurant.tags" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="slug" :options="tags" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
                                                </b-field>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column is-4">
                                                <b-field label="Price"
                                                    :type="{'is-danger' : (bErrors.has('price') || serrors.has('price'))}" 
                                                    label-position="on-border"
                                                    custom-class="is-medium"
                                                    :message="serrors.has('price') ? serrors.get('price'): bErrors.first('price')"
                                                >
                                                    <b-input placeholder="enter the price"
                                                        type="text"
                                                        v-validate="'required'" 
                                                        v-model="restaurant.price"
                                                        name="price">
                                                    </b-input>
                                                </b-field>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column is-full">
                                                <b-field label="Content"
                                                custom-class="is-medium"
                                                label-position="on-border">
                                                    <vue-editor id="editor" useCustomImageHandler @imageAdded="handleImageAdded" v-model="restaurant.content"></vue-editor>
                                                </b-field>
                                            </div>
                                        </div>
                                    </b-tab-item>
                                    <b-tab-item label="Images">
                                        <div class="columns">
                                            <div class="column is-full">
                                                <div class="field is-grouped">
                                                    <p class="control">
                                                        <a class="button is-info" href="#" @click.prevent="postImages('radio')">
                                                          Select feature Image
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tile is-ancestor">
                                                    <div class="tile is-8 is-vertical">
                                                        <div class="tile">
                                                            <div class="tile is-parent">
                                                                <article class="tile is-child box">
                                                                    <ul class="ul-checkbox" v-if="image">
                                                                        <li class="li-checkbox">
                                                                            <input type="checkbox" id="cbb">
                                                                            <label for="cbb">
                                                                                <img :src="image.save_name" width="100px" height="100px">
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                    <ul v-else>
                                                                        <b-message type="is-info" has-icon size="is-small">
                                                                            No feature image is selected!
                                                                        </b-message>
                                                                    </ul>
                                                                </article>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <div class="column is-full">
                                                <div class="field is-grouped">
                                                  <p class="control">
                                                    <a class="button is-info" href="#" @click.prevent="postImages('checkbox')">
                                                      Select Post Image
                                                    </a>
                                                  </p>
                                                  <p class="control" v-if="deletImages.length>0">
                                                    <a class="button is-danger" href="#" @click.prevent="handleSelectedImg()">
                                                      Delete images
                                                    </a>
                                                  </p>
                                                </div>
                                                <div class="tile is-ancestor">
                                                    <div class="tile is-8 is-vertical">
                                                        <div class="tile">
                                                            <div class="tile is-parent">
                                                                <article class="tile is-child box">
                                                                    <ul class="ul-checkbox" v-if="images.length>0">
                                                                        <li class="li-checkbox" v-for="image in images">
                                                                            <input type="checkbox" :id="'cb-1'+image.id" v-model="deletImages" :value="image.id">
                                                                            <label :for="'cb-1'+image.id">
                                                                                <img :src="image.save_name" width="100px" height="100px">
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                    <ul v-else>
                                                                        <b-message type="is-info" has-icon size="is-small">
                                                                            No images are selected!
                                                                        </b-message>
                                                                    </ul>
                                                                </article>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </b-tab-item>
                                </b-tabs>
                                <div class="column is-half">
                                    <button class="button is-success">{{title}}</button>
                                    <router-link :to="returnUrl" class="button is-default">Cancel</router-link>
                                </div>
                            </form>
                        </div>
                        <medias :type="type" v-on:fetchPostImg="fetchPostImg" class="modal fade" id="pimages" role="dialog" data-backdrop="static" data-keyboard="false"></medias>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BreadCrum from "../commons/breadcrum";
    import Medias from "../commons/medias";
    import DatePick from "vue-date-pick";
    import "vue-date-pick/dist/vueDatePick.css";
    import { VueEditor } from "vue2-editor";
    import {Errors} from '../commons/validator.js';
    export default {
        components: {
            BreadCrum,
            Medias,
            DatePick,
            VueEditor
        },
        data: function () {
            return {
                serrors: new Errors(),
                type: 'radio',
                vError: '',
                image: '',
                images: [],
                deletImage: {},
                deletImages: [],
                tags: [],
                activeTab: 0,
                title: "Add Menu",
                baseUrl: this.$store.getters.getBaseUrl,
                errors: [],
                returnUrl: "/restaurant/"+this.$route.params.restaurantId+"/list",
                value: [],
                restaurant: {
                    feature_image: {},
                    restaurant_images: [],
                    tags: [],
                    name: "",
                    post_id: this.$route.params.restaurantId,
                    price: ""
                }
            };
        },
        mounted: function () {
            this.initTags();
            this.url = '/api/restaurant/create';
            this.title = "Create Menu";
            if(this.$route.params.id){
                this.initEdit();
                this.url = '/api/restaurant/update/'+this.$route.params.id;
                this.title = "Update Menu";
            }
        },
        methods: {
            fetchPostImg(data){
                if(this.type == 'radio'){
                    this.image = data;
                    this.restaurant.feature_image = this.image;
                }
                else{
                    this.images = data;
                    this.restaurant.restaurant_images = this.images;
                }
                
            },
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    slug: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
                this.tags.push(tag)
                this.restaurant.tags.push(tag)
            },
            handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
                let formData = new FormData();
                formData.append('type', 'editor');
                formData.append("image", file);
                axios.post('/api/media/upload',formData).then((response)=>{
                    let url = response.data.url; // Get url from response
                    Editor.insertEmbed(cursorLocation, "image", url);
                    resetUploader();
                }).catch(err => {
                  console.log(err);
                });
            },

            submit() {
                this.$validator.validateAll().then((valid)=>{
                    if(valid){
                        this.handleSubmit();
                    }
                    else{
                        if(this.activeTab == 1){
                            this.activeTab = 0;
                        }
                        return false
                    }
                })
            },

            handleSubmit(){
                //return false;
                this.$root.loading = true;
                delete this.restaurant.files; 
                delete this.restaurant.postfile;
                axios.post(this.url,this.restaurant).then((response)=>{
                    this.$root.loading = false;
                    // if(response.data.notify){
                    //     let documentID;
                    //     db.collection("notifications").add(response.data.notify)
                    //     .then((refDoc)=>{
                    //         console.log(refDoc.id);
                    //         documentID = refDoc.id
                    //     })
                    //     .catch((error)=>{
                    //     });

                    //     db.collection("notifications").onSnapshot((res)=>{
                    //         let data = [];
                    //         res.forEach((doc)=>{
                    //             data.push(doc);
                    //         })
                    //         console.log(data);
                    //     })
                    //     /*db.collection('notifications').document(documentID).delete()*/
                    // }

                    this.$router.push(this.returnUrl);
                }).catch((error)=>{
                    this.$root.loading = false;
                    this.vError = error.response.data.message;
                    this.serrors.record(error.response.data.errors);
                })

            },

            initEdit() {
                const url = "/api/restaurant/" + this.$route.params.id + "/edit";
                axios.get(url).then((res) => {
                    this.restaurant = res.data.edit;
                    this.images = res.data.edit.files;
                    this.image = res.data.edit.feature_image;
                    this.restaurant.restaurant_images = this.images;
                    this.restaurant.feature_image = this.image;
                    console.log(this.restaurant)
                })
                .catch((error) => {

                });
            },

            postImages(type){
                this.type = type;
                $('#pimages').modal('show');
            },

            handleSelectedImg(type){
                for(let prop in this.deletImages){
                    let index = this.restaurant.restaurant_images.find((item)=>{
                        return item.id == this.deletImages[prop];
                    });
                    if(index){
                        this.restaurant.restaurant_images.splice(index, 1);
                        if(this.deletImages.length == 0){
                            this.images =[];
                        }
                    }
                }                
            },
            tabState(index){
                this.activeTab = index;
            },
            initTags(){
                axios.get('/api/common/tags').then((response)=>{
                    this.tags = response.data.tags;
                }).catch((error)=>{

                })
            }
        }
    };

</script>
<style>
    .multiselect ul {
        margin-left: 0 !important;
    }
    ul.ul-checkbox {
        list-style-type: none;
        
    }
    ul.ul-checkbox1 {
        list-style-type: none;
        
    }

    li.li-checkbox {
        display: inline-block;
    }

    .li-checkbox input[type="checkbox"][id^="cb"] {
        display: none;
    }

    .li-checkbox input[type="radio"][id^="cb"] {
        display: none;
    }

    .li-checkbox label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 7px;
        cursor: pointer;
    }

    .li-checkbox label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    .li-checkbox label img {
        height: 100px;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

    :checked+label {
        border-color: #ddd;
    }

    :checked+label:before {
        content: "✓";
        background-color: grey;
        transform: scale(1);
    }

    :checked+label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
    }
    .b-tabs .tab-content {
        border: 1px solid #f6f2f2;
    }
    .input-error{
        border : 1px solid red;
        border-radius: 6px;
    }
</style>