<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
		<div class="content">
            <div class="row">
                <div class="col-md-12">
                    <data-table :columns="columns" :commons="commons" ></data-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BreadCrum from "../commons/breadcrum";
    import dataTable from "../commons/common-server-side-data-table";
    export default {
        components: {
            BreadCrum, dataTable
        },
        data() {
            return {
                columns: [
                {
                    name: 'name',
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "Name"
                },
                {
                    name: 'price',
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "Price",
                },
                {
                    name: 'status',
                    sort: true,
                    children: false,
                    switch: true,
                    event: false,
                    label: "Status",
                },
                {
                    name: "tags",
                    sort: false,
                    children: true,
                    switch: false,
                    event: false,
                    label: "Tags"
                },
                {
                    name: "created_at",
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "created_at",
                    width: "180"
                }
                ],
                commons: {
                    url: "restaurants/"+this.$route.params.restaurantId,
                    title : "Menus",
                    addUrl : "/restaurant/"+this.$route.params.restaurantId+"/add",
                    editUrl : "/restID/"+this.$route.params.restaurantId+"/restaurant",
                    deleteUrl : "restaurant/delete",
                    switchUrl: "restaurant"
                }

            }
        },
        mounted() {
        },
        methods: {
            
        }
    };

</script>