<template>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title p-b-26">
                    WT
                </span>
                <form @submit.prevent="submit" class="login100-form validate-form">
                    <div class="card-body">
                        <b-message type="is-danger" has-icon v-if="serrors.has('invalid')" size="is-small">
                            {{serrors.get('invalid')}}
                        </b-message>
                        <div class="field">
                            <b-field label="Email"
                                :type="{'is-danger': (bErrors.has('email') || serrors.has('email'))}" 
                                label-position="on-border"
                                custom-class="is-medium is-not-grouped"
                                :message="serrors.has('email') ? serrors.get('email'): bErrors.first('email')">
                                <b-input placeholder="Email"
                                    type="email"
                                    icon="email" 
                                    v-model="register.email" 
                                    v-validate="'required|email'" 
                                    name="email">
                                </b-input>
                            </b-field>
                        </div>
                        <div class="field">
                            <button class="btn btn-success btn-round btn-block mb-3 is-loading">Reset Password</button>
                        </div>
                        <div class="text-center">
                            <p>
                                <router-link :to="'/login'" class="signup">Go back</router-link>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {Errors} from '../commons/validator.js'
	export default {
		data() {
			return {
                validate: false,
				register:{
                    first_name: null,
                    last_name: null,
					email: null,
					password: null,
                    confirm_password: null
				},
				baseUrl : this.$store.getters.getBaseUrl,
                serrors: new Errors()
			}
		},
	    mounted() {
	    },
	    methods: {
	    	submit(e){
	    		this.$root.loading = true;
                this.$validator.validateAll().then((valid)=>{
                    if(valid){
                        this.loginSubmit()
                    }
                    else{
                        this.$root.loading = false;
                        return false
                    }
                })
	    	},
            loginSubmit(){
                let url = '/api/auth/forget-password';
                axios.post(url,this.register).then(response=>{
                    this.$root.loading = false;
                    let route = '/login';
                    this.$router.push(route);
                })
                .catch(error=>{
                    this.$root.loading = false;
                    this.serrors.record(error.response.data.message);
                })
            }
	    }
	}
</script>
<style>
    .limiter {
        width: 100%;
        margin: 0 auto;
    }
    .container-login100 {
        width: 100%;  
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: #f2f2f2;  
    }

    .wrap-login100 {
        margin-top: -50px;
        width: 390px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        padding: 40px 55px 33px 55px;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .login100-form {
        width: 100%;
    }

    .login100-form-title {
        display: block;
        font-family: Poppins-Bold;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
    }
    .login100-form-title i {
        font-size: 60px;
    }
    .field {
        margin-bottom: 25px !important;
    }

    @media (max-width: 576px) {
        .wrap-login100 {
            padding: 77px 15px 33px 15px;
        }
        .is-grouped input {
            width: 100% !important
        }
    }
    p a.signup {
        color: #7957d5 !important;
    }
    p a.signup:hover {
        color: #363636 !important;
        text-decoration: underline !important;
    }
</style>