<template>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title p-b-26">
                    WT
                </span>
                <form class="login100-form validate-form" @submit.prevent="submit">
                    <div class="card-body">
                        <b-message type="is-danger" has-icon v-if="serrors.has('invalid')" size="is-small">
                            {{serrors.get('invalid')}}
                        </b-message>
                        <div class="field">
                            <b-field label="Email"
                                :type="{'is-danger' : (bErrors.has('email') || serrors.has('email'))}" 
                                label-position="on-border"
                                custom-class="is-medium"
                                :message="serrors.has('email') ? serrors.get('email'): bErrors.first('email')">
                                <b-input placeholder="Email"
                                    type="email"
                                    icon="email" 
                                    v-model="login.email" 
                                    v-validate="'required|email'" 
                                    name="email">
                                </b-input>
                            </b-field>
                        </div>
                        <div class="field">
                            <b-field label="Password"
                                :type="{'is-danger': (bErrors.has('password') || serrors.has('password'))}"
                                label-position="on-border"
                                custom-class="is-medium"
                                :message="serrors.has('password') ? serrors.get('password') : bErrors.first('password')">
                                <b-input placeholder="Password"
                                    type="password"
                                    icon="lock" 
                                    v-model="login.password" 
                                    password-reveal v-validate="'required'" 
                                    name="password">
                                </b-input>
                            </b-field>
                        </div>
                        <div class="field">
                            <button class="btn btn-success btn-round btn-block mb-3 is-loading">Login</button>
                        </div>
                        <div class="field">
                            <a class="btn btn-info btn-round btn-block" href="/auth/social/facebook">Login with Facebook</a>
                            <a class="btn btn-danger btn-round btn-block" href="/auth/social/google">Login with google</a>
                        </div>
                        
                        <div class="text-center">
                            <router-link class="txt2" :to="'/forget-password'">
                                Forgot password?
                            </router-link>
                            <p>
                                Don't have an account ? <router-link :to="'/register'" class="signup">Sign up</router-link>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Helper from '../../services/helper.js'
    import {Errors} from '../commons/validator.js'
	export default {
		data() {
			return {
                validate: false,
				login:{
					email: null,
					password: null
				},
				baseUrl : this.$store.getters.getBaseUrl,
                serrors: new Errors()
			}
		},
	    mounted() {
            Helper.check().then((res)=>{
                if(res){
                    this.$router.push({path: '/'});
                }
            })
	    },
	    methods: {
	    	submit(e){
                this.$validator.validateAll().then((valid)=>{
                    if(valid){
                        this.loginSubmit()
                    }
                    else{
                        return false
                    }
                })
	    	},
            loginSubmit(){
                this.$root.loading = true;
                let url = '/api/auth/login';
                axios.post(url,this.login).then(response=>{
                    this.$root.loading = false;
                    localStorage.setItem('access_token',response.data.access_token);
                    this.$store.dispatch('reSetVuex');
                    this.$store.dispatch('setProfile',response.data.commonmodules.profile);
                    this.$store.dispatch('setPermissions',response.data.commonmodules.permissions);
                    let route = '/dashboard';
                    if(this.$store.getters.getIntended){
                        route = this.$store.getters.getIntended;
                    }
                    this.$router.push({path:route});
                })
                .catch(error=>{
                    this.$root.loading = false;
                    if(error.response.status == 422)
                    this.serrors.record(error.response.data.message);
                    localStorage.removeItem('access_token');
                })
            },
	    }
	}
</script>
<style>
    .limiter {
        width: 100%;
        margin: 0 auto;
    }
    .container-login100 {
        width: 100%;  
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: #f2f2f2;  
    }

    .wrap-login100 {
        margin-top: -50px;
        width: 390px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        padding: 40px 55px 33px 55px;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .login100-form {
        width: 100%;
    }

    .login100-form-title {
        display: block;
        font-family: Poppins-Bold;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
    }
    .login100-form-title i {
        font-size: 60px;
    }

    @media (max-width: 576px) {
        .wrap-login100 {
            padding: 77px 15px 33px 15px;
        }
    }
    .field {
        margin-bottom: 25px !important;
    }
    p a.signup {
        color: #7957d5 !important;
    }
    p a.signup:hover {
        color: #363636 !important;
        text-decoration: underline !important;
    }
</style>