<template>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title p-b-26">
                    WT
                </span>
                <form class="login100-form validate-form">
                    <div class="card-body">
                        <div class="field">
                            <b-message type="is-danger" has-icon v-if="serrors.has('invalid')" size="is-small">
                                {{serrors.get('invalid')}}
                            </b-message>
                            <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="true"></b-loading>
                        </div>
                        <div class="text-center">
                            <p>
                                <router-link :to="'/login'" class="signup">Back to login</router-link>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {Errors} from '../commons/validator.js';
	export default {
		data() {
			return {
                isFullPage: true,
                isLoading: true,
				baseUrl : this.$store.getters.getBaseUrl,
                serrors: new Errors()
			}
		},
	    mounted() {
            this.$root.loading = true;
            let url = '/api/auth/social/token';
            axios.post(url).then((response)=>{
                this.$root.loading = false;
                this.isLoading = false;
                localStorage.setItem('access_token',response.data.access_token);
                this.getCommonModules();
                let route = '/dashboard';
                if(this.$store.getters.getIntended){
                    route = this.$store.getters.getIntended;
                }
                console.log(route);
                this.$router.push(route);
            })
            .catch((error)=>{
                this.$root.loading = false;
                this.serrors.record(error.response.data.message);
            })
	    },
        methods: {
            async getCommonModules(){
                let response = await axios.post('/api/common/common-module');
                console.log(response);
                this.$store.dispatch('reSetVuex');
                this.$store.dispatch('setProfile',response.data.commonmodules.profile);
                this.$store.dispatch('setPermissions',response.data.commonmodules.permissions);
            }
        }
	}
</script>
<style>
    .limiter {
        width: 100%;
        margin: 0 auto;
    }
    .container-login100 {
        width: 100%;  
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: #f2f2f2;  
    }

    .wrap-login100 {
        margin-top: -50px;
        width: 390px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        padding: 40px 55px 33px 55px;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .login100-form {
        width: 100%;
    }

    .login100-form-title {
        display: block;
        font-family: Poppins-Bold;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
    }
    .login100-form-title i {
        font-size: 60px;
    }

    @media (max-width: 576px) {
        .wrap-login100 {
            padding: 77px 15px 33px 15px;
        }
    }
    .field {
        margin-bottom: 25px !important;
    }
    p a.signup {
        color: #7957d5 !important;
    }
    p a.signup:hover {
        color: #363636 !important;
        text-decoration: underline !important;
    }
</style>