<template>
	<div>
		<div class="panel-header panel-header-sm">
        </div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
			}
		},

		props: {
			title: String,
			desc: String,
			icon: String
		},
		
		mounted() {
		},
		methods: {
		},
	}
</script>
