<template>
	<div class="card">
        <div class="card-header">
            <h5 class="title">{{commons.title}}</h5>
        </div>
        <div class="card-body">
            <div class="level is-mobile">
                <div class="level-left">
                    <b-select v-model="paginate.params.perPage" @input="init">
                        <option v-for="val in [10,25,50,100]">{{val}}</option>
                    </b-select>
                </div>
                <div class="level-center">
                    <b-input
                        placeholder="Filter"
                        v-model="paginate.params.search"
                        @blur="init"> 
                    </b-input>
                </div>
                <div class="level-right">
                    <b-dropdown hoverable aria-role="list" position="is-bottom-left">
                        <button class="button is-info" slot="trigger" >
                            <span><b-icon icon="settings" size="is-small"/> Settings</span>
                            <b-icon icon="menu-down"></b-icon>
                        </button>

                        <b-dropdown-item aria-role="listitem">
                            <router-link :to="commons.addUrl"><b-icon pack="fa" icon="plus-circle" size="is-small"/>Add</router-link> 
                        </b-dropdown-item>
                        <b-dropdown-item aria-role="listitem" @click="confirmDelete(0)">
                            <b-icon pack="fa" icon="trash" size="is-small"/>Delete
                        </b-dropdown-item>
                    </b-dropdown>
                </div>
            </div>
            <div class="columns">
                <div class="column is-full">
                    <b-table
                        :data="isEmpty ? [] : paginate.items"
                        :loading="paginate.loading"
                        :checked-rows.sync="metas.selected"
                        ref="table"
                        hoverable
                        striped
                        paginated
                        :per-page="paginate.params.perPage"
                        :total="paginate.totalRow"
                        @page-change="onPageChange"
                        backend-pagination
                        backend-sorting
                        @sort="onSort"
                        :narrowed="true"
                        checkable>
                        <template slot="bottom-left">
                            <b>Total checked</b>
                            : {{ metas.selected.length }} | &nbsp;
                            <p>Showing {{paginate.from}} to {{paginate.to}} of {{paginate.totalRow}} entries</p>
                        </template>
                        <template slot-scope="props">
                            <b-table-column v-for="(col,index) in columns" :key="index" :field="col.name" :label="col.label" :sortable="col.sort" :width="col.width">
                                <b-tooltip v-if="col.switch" :label="props.row[col.name] == 1 ? 'Active' : 'Deactive'"
                                    position="is-bottom" animated>
                                    <b-switch :value="props.row[col.name]==1 ? true : false" type="is-info"
                                        @input="switchStatus($event, props.row.id)">
                                    </b-switch>
                                </b-tooltip>
                                <div v-else-if="col.children" class="tags">
                                    <b-tag type="is-info" v-for="child in props.row[col.name]" :key="child.id">{{child.name}}</b-tag>
                                </div>
                                <div v-else-if="col.event">
                                    <div v-if="props.row[col.name]=='event'">
                                        <b-tooltip label="Click to know event status"
                                            position="is-bottom" animated>
                                            <b-button type="is-info" @click.prevent="Event(props.row)" outlined>{{props.row[col.name]}}</b-button>
                                        </b-tooltip>
                                    </div>
                                    <div v-else>
                                        <b-tag type="is-info">{{props.row[col.name]}}</b-tag>
                                    </div>
                                </div>
                                <div v-else-if="col.date">
                                    <b-tag v-if="Date.parse(props.row[col.name]) >= Date.parse(new Date())" type="is-info">
                                        {{'Active'}}
                                    </b-tag>
                                    <b-tag v-if="Date.parse(props.row[col.name]) < Date.parse(new Date())" type="is-danger">
                                        {{'Expired'}}
                                    </b-tag>
                                </div>
                                <div v-else-if="col.titleLimitTo">
                                    <div v-if="commons.linkTo">
                                        <div v-if="col.objectchild">
                                            <b-tooltip :label="props.row[col.relation_name][col.name]" position="is-right">
                                                <router-link :to="`${commons['linkTo']}/${props.row[col.relation_name]['id']}/edit`"> 
                                                    {{limitTo(props.row[col.relation_name][col.name])}}
                                                </router-link>
                                            </b-tooltip>
                                        </div>
                                        <div v-else>
                                            <b-tooltip :label="props.row[col.name]" position="is-right">
                                                <router-link :to="`${commons['linkTo']}/${props.row['id']}/edit`"> 
                                                    {{limitTo(props.row[col.name])}}
                                                </router-link>
                                            </b-tooltip>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <b-tooltip :label="props.row[col.name]" position="is-right">
                                            {{limitTo(props.row[col.name])}}
                                        </b-tooltip>
                                    </div>
                                </div>
                                <p v-else-if="col.objectchild">
                                    {{props.row[col.relation_name][col.name]}}
                                </p>
                                <div v-else-if="col.additional_action">
                                    <router-link :to="commons.type+'/'+props.row.id+'/add'">
                                        <a class="button">
                                            <i class="fas fa-plus-circle"></i> {{col.label}}
                                        </a>
                                    </router-link>
                                </div>
                                <p v-else-if="col.count">
                                    <router-link :to="commons.type+'/'+props.row.id+'/list'">
                                        <a class="button">
                                            {{props.row[col.name]}} items found.
                                        </a>
                                    </router-link>
                                </p>
                                <p v-else>
                                    {{ props.row[col.name] }}
                                </p>
                            </b-table-column>
                            <b-table-column field="id" label width="96">
                                <p class="buttons">
                                    <b-tooltip
                                        label="Edit"
                                        position="is-bottom"
                                        animated
                                        style="margin-right: 4px;"
                                    >
                                        <router-link :to="commons.editUrl+'/'+props.row.id+'/edit'">
                                            <a class="button">
                                                <span class="icon is-small">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                        </router-link>
                                    </b-tooltip>
                                    <b-tooltip label="Delete" position="is-bottom" animated>
                                        <a class="button" data-toggle="modal" @click="confirmDelete(props.row.id)">
                                            <span class="icon is-small">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </a>
                                    </b-tooltip>
                                </p>
                            </b-table-column>
                        </template>
                        <template slot="empty">
                            <section class="section">
                                <div class="content has-text-grey has-text-centered">
                                    <p>
                                        <b-icon
                                            icon="emoticon-sad"
                                            size="is-large">
                                        </b-icon>
                                    </p>
                                    <p>Empty Data!</p>
                                </div>
                            </section>
                        </template>
                    </b-table>
                </div>
            </div>
        </div>
        <delete-confirm
          :rurl="commons.deleteUrl"
          :ids="metas.id"
          id="delete-confirm"
          class="modal fade"
          role="dialog"
          data-backdrop="static"
          data-keyboard="false"
          v-on:refreshData="refetchData()"
        ></delete-confirm>
        <event 
            id="event" 
            :post="events" 
            class="modal fade" data-backdrop="static" data-keyboard="false"
            v-on:refreshData="refetchData()"
        >
        </event>
    </div>
</template>
<script>
    import DeleteConfirm from "./confirm-delete";
    import Helper from "../../services/helper.js";
    import Event from "./event";
	export default {
        components:{
            DeleteConfirm, Event
        },
		props: {
			columns: {
				type: Array,
				required: true
			},
			commons: {
				type: [Object, String],
				required: true
			}
		},
		data(){
			return {
                isEmpty: false,
				baseUrl: this.$store.getters.getBaseUrl,
                events: {},
				metas: {
				  selected: [],
				  selectAll: false,
				  id: []
				},
				paginate: {
				  items: [],
				  currentPage: 1,
				  loading: false,
				  defaultSortOrder: "desc",
				  defaultSort: ["name"],
				  totalRow: 0,
				  params: {
				    perPage: 10
				  }
				}
			}
		},
		
		mounted(){
			this.init();
            if(this.commons.type)
            this.paginate.params.type=this.commons.type;
		},
		methods: {
			init() {
                let url = "/api/"+this.commons.url+"?page=" + this.paginate.currentPage;
                this.paginate.loading = true;
                axios.get(url, { params: this.paginate.params }).then((res) => {
                    this.paginate.loading = false;
                    this.paginate.items = res.data.data.data;
                    this.paginate.currentPage = res.data.data.current_page;
                    this.paginate.params.perPage = +res.data.data.per_page;
                    this.paginate.totalRow = res.data.data.total;
                    this.paginate.from = res.data.data.from;
                    this.paginate.to = res.data.data.to;
                }).catch(error => {
                    this.paginate.items = [];
                });
            },
			onPageChange(page) {
                this.paginate.currentPage = page;
                this.init();
			},
			onSort(field, order) {
                this.paginate.params.order = order;
                this.paginate.params.column = field;
                this.init();
			},

			selectAll() {
                this.metas.selected = [];
                if (this.metas.selectAll) {
                    for (var prop in this.paginate.items) {
                        this.metas.selected.push(this.paginate.items[prop].id);
                    }
                }
			},
			checkSelectAll() {
                if (this.metas.selected.length == this.paginate.items.length) {
                    this.metas.selectAll = true;
                } else {
                    this.metas.selectAll = false;
                }
			},
            switchStatus: function (event, id) {
                let url = "/api/"+this.commons.switchUrl+"/status";
                axios.post(url, {
                    id: id,
                    status: event,
                    type: this.commons.type
                }).then((res) => {
                    this.init();
                }).catch((error) => {});
            },
            confirmDelete(id) {
                if (id !== 0) {
                    this.metas.id = [id];
                } else {
                    let ids = [];
                    if(this.metas.selected.length == 0){
                        Helper.ToastMessage({
                            type: 'is-warning',
                            message: "Please select at least a item to delete."
                        })
                        return false;
                    }
                    this.metas.selected.forEach(function(i) {
                        ids.push(i.id);
                    });
                    this.metas.id = ids;
                }
                $("#delete-confirm").modal("show");
            },
            refetchData: function() {
                $("#delete-confirm").modal("hide");
                $("#delete-confirm-bulk").modal("hide");
                $("#event").modal("hide");
                this.init();
            },
            limitTo(value) {
                return (value ? (value.length > 20 ? value.substring(0, 20) + '....' : value) : '');
            },
            Event(row) {
                let event = {};
                event.post_title = row.post_title;
                let now = new Date();
                event.start_date = Helper.getDate(row.start_date);
                event.end_date = Helper.getDate(row.end_date);
                event.status = row.event_status == 1 ? true : false;
                event.expired_status = Date.parse(row.end_date) >= Date.parse(now) ? "Not Expired" : "Expired";
                event.id = row.id;
                event.submitTitle = "Update Event";
                this.events = event;
                $("#event").modal("show");
            },
		}
	}
</script>