<template>
    <div>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure to delete this data?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button is-light" @click="close">close</button>
                    <button type="button" class="button is-danger" @click="deleteConfirm">Delete</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                baseUrl: this.$store.getters.getBaseUrl
            }
        },
        props: {
            ids: Array,
            rurl: String
        },
        mounted() {
            //this.init();
        },
        methods: {
            close() {
                $('#delete-confirm').modal('hide');
                $('#delete-confirm-bulk').modal('hide');
            },

            deleteConfirm() {
                let url = '/api/' + this.rurl;
                axios.post(url, this.ids)
                    .then((res) => {
                        this.$emit('refreshData', 'test')
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
        },
    }

</script>
<style>
    .modal-dialog.modal-sm {
        margin-top: 14% !important;
    }

    .modal-backdrop {
        z-index: 1;
    }

    .modal-content,
    .modal-card {
        margin: 0 20px;
        height: auto;
        max-height: 100%;
        overflow: auto;
        position: relative;
    }

    .modal-content,
    .modal-card {
        width: 100%;
    }

</style>
