<template>
	<div>
		<b-table striped hover :items="items" :fields="fields"></b-table>
		<b-pagination align="right" :total-rows="100" v-model="currentPage" :per-page="10">
	    </b-pagination>
	</div>
</template>
<script>
	import Vue from 'vue'
	import { Pagination } from 'bootstrap-vue/es/components';
	import { Table } from 'bootstrap-vue/es/components';
	Vue.use(Pagination);
	Vue.use(Table);
	export default {
		data(){
			return {
				currentPage: 3,
				fields: [
		        {
		          key: 'last_name',
		          sortable: true
		        },
		        {
		          key: 'first_name',
		          sortable: false
		        },
		        {
		          key: 'age',
		          label: 'Person age',
		          sortable: true,
		          // Variant applies to the whole column, including the header and footer
		          variant: 'danger'
		        }
		      ],
		      items: [
		        { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
		        { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
		        { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
		        { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' }
		      ]
			}
		},

		mounted() {

		},

		methods : {

		}


	}
</script>