<template>
	<section>
		<div class="modal-dialog">
		    <div class="modal-content box">
		    	<form @submit.prevent="submit">
			        <div class="modal-body">
			           	<div class="columns" style="margin-bottom:10px;">
			           		<div class="column is-full">
	                            <b-message type="is-success">
		       			            {{post.post_title}}
		       			        </b-message>
			           		</div>
			           	</div>
						<div class="columns">
							<div class="column is-half">
								<b-field label="Event status">
									<b-tooltip 
										:label="post.status ? 'Active' : 'Deactive'" 
										position="is-bottom" animated>
										<b-switch
											type="is-success"
											v-model="post.status"
											>
										</b-switch>
									</b-tooltip>
								</b-field>
							</div>
							<div class="column is-half">
								<b-field label="Expiry Status">
									<b-tooltip :label="post.expired_status" position="is-bottom" animated>
										<b-tag v-if="post.expired_status=='Not Expired'" type="is-info">
											{{post.expired_status}}
										</b-tag>
										<b-tag v-else-if="post.expired_status=='Add Event'" type="is-info">
											{{post.expired_status}}
										</b-tag>
										<b-tag v-else type="is-danger">{{post.expired_status}}</b-tag>
									</b-tooltip>
								</b-field>
							</div>
						</div>
						<div class="columns">
							<div class="column is-half">
								<b-field label="Start Date"
									:type="{'is-danger' : (bErrors.has('start_date') || serrors.has('start_date'))}" 
									label-position="on-border"
									custom-class="is-medium"
									:message="serrors.has('start_date') ? serrors.get('start_date'): bErrors.first('start_date')">
									<date-pick
										v-model="post.start_date"
										:pickTime="true"
										:format="'YYYY-MM-DD HH:mm'"
										v-validate="'required'"
										name="start_date"
										:class="{'input-error': (bErrors.has('start_date') || serrors.has('start_date'))}"
									></date-pick>
								</b-field>
							</div>
							<div class="column is-half">
								<b-field label="End Date"
									:type="{'is-danger' : (bErrors.has('end_date') || serrors.has('end_date'))}" 
									label-position="on-border"
									custom-class="is-medium"
									:message="serrors.has('end_date') ? serrors.get('end_date'): bErrors.first('end_date')"
								>
									<date-pick
										v-model="post.end_date"
										:pickTime="true"
										:format="'YYYY-MM-DD HH:mm'"
										v-validate="'required'"
										name="end_date"
										:class="{'input-error': (bErrors.has('end_date') || serrors.has('end_date'))}"
									></date-pick>
								</b-field>
							</div>
						</div>
			        </div>
			        <div class="modal-footer">
	                    <a href="#" class="button is-light" @click.prevent="close">close</a>
	                    <button class="button is-focused" data-toggle="modal">
	                        {{post.submitTitle}}
	                    </button>
			        </div>
		    	</form>
		    </div>
		</div>
	</section>
</template>

<script>
	import DatePick from 'vue-date-pick';
	import 'vue-date-pick/dist/vueDatePick.css';
	import {Errors} from './validator.js';
	export default {
		components: {
			DatePick
		},
		data(){
			return {
				event:{},
				baseUrl: this.$store.getters.getBaseUrl,
				errors: [],
				serrors: new Errors()
			}
		},
		props: {
		    post:Object
		},
		mounted() {
		},
		methods: {
			submit(){
				this.$validator.validateAll().then((valid)=>{
					if(valid){
						this.handleSubmit();
					}
					else{
						return false;
					}
					
				})
			},
			handleSubmit() {
				this.$root.loading = true;
				this.event = this.post;
				let url = '/api/events/update/'+this.event.id;
				axios.post(url,this.event).then((response)=>{
					this.$root.loading = false;
					this.$emit('refreshData');	
					this.errors=[];			
				})
				.catch((error)=>{
					this.$root.loading = false;
					this.serrors.record(error.response.data.errors);
				})
			},

			close(){
                this.serrors.clear();
                $('#event').modal('hide');
			}
		},
	}
</script>

<style>
	.modal-dialog.modal-large {
		margin-top:50px !important;
	}
	.modal-backdrop {
	    z-index: 1;
	}
	.modal-large .close {
        padding: 0 !important;
        margin-top: -20px;
        margin-right: -20px;
        padding-bottom: 0;
	}
	.modal-content, .modal-card {
		margin: 0;
		height: auto;
	    max-height: 100%;
	    position: relative;
	    width: 100%;
	    overflow: visible;
	}
	.field .label {
	    color: #363636;
	    display: inline-block;
	    font-size: 1rem;
	    font-weight: 700;
	    padding: 0;
	}
	.label {
    	float: none !important;
    }
    .input-error{
        border : 1px solid red;
        border-radius: 6px;
    }
    @media (max-width: 576px) {
        .modal.show .modal-dialog {
            width: 90%;
            margin-left: 5%;
            max-width: 576px;
        }
    }
</style>