<template>
	<div>
		<div class="columns">
			<div class="column is-half">
				<b-field label="Location"  
				    label-position="on-border"
				    custom-class="is-medium"
				    :message="message"
				    :type="type"
				>
		    		<b-input type="text" name="name" v-model="places.location_name"
		            id="pac-input" placeholder="Address Name" @input="emitAddress()"></b-input>
		        </b-field>
		    </div>
	    </div>
	    <div class="columns">
	    	<div class="column is-full">
	    	    <div id="map" style="height:300px; margin : 12px 0;"></div>
	    	    <div id="infowindow-content" v-show="markerVisible">
	    	        <span id="place-name" class="title" style="font-weight:bold"></span> Address:
	    	        <span id="place-address"></span>
	    	    </div>
	    	</div>
	    </div>
	</div>
</template>
<script>
	export default{
		props: {
			message: String,
			type: [Object, String],
			locationName: [String],
			lat: [String, Number],
			lng: [String, Number]
		},
		data(){
			return {
				places: {location_name: this.locationName},
				markerVisible: false
			}
		},
		mounted(){
			this.getCooridinates();
		},
		methods: {
			emitAddress(){
				this.$emit('setLocation',this.places)
			},
			getCooridinates() {
				let current = this;
			  	navigator.geolocation.getCurrentPosition(function (p) {
			    	current.initGMap(p.coords.latitude, p.coords.longitude, 13);
			  	}, function () {
			    	current.initGMap(0, 0, 1)
			  	})
			},

			initGMap(lat1, lng1, zoom) {
				//Google place API
				let current = this;
				// var lat = parseFloat(geoplugin_latitude()) ? parseFloat(geoplugin_latitude()) : 0;
				// var lng = parseFloat(geoplugin_longitude()) ? parseFloat(geoplugin_longitude()) : 0;
				let map = new google.maps.Map(document.getElementById('map'), {
					center: { lat: current.lat ? +current.lat : lat1, lng: current.lng ? +current.lng: lng1 },
					zoom: zoom,
					fields: ["name", "geometry.location", "place_id", "formatted_address"]
				});

				let input = document.getElementById('pac-input');

				let autocomplete = new google.maps.places.Autocomplete(input);
				autocomplete.bindTo('bounds', map);

				let infowindow = new google.maps.InfoWindow();
				let infowindowContent = document.getElementById('infowindow-content');
				infowindow.setContent(infowindowContent);
				let marker = new google.maps.Marker({
					map: map
				});
				marker.addListener('change', function () {
					infowindow.open(map, marker);
				});

				autocomplete.addListener('place_changed', function () {
					infowindow.close();
					let place = autocomplete.getPlace();
					if (!place.geometry) {
				  		return;
					}

					if (place.geometry.viewport) {
					 	map.fitBounds(place.geometry.viewport);
					} else {
					  	map.setCenter(place.geometry.location);
					  	map.setZoom(17);
					}

					// Set the position of the marker using the place ID and location.
					marker.setPlace({
				  		placeId: place.place_id,
				  		location: place.geometry.location
					});
					marker.setVisible(true);
					current.places.latitude = place.geometry.location.lat();
					current.places.longitude = place.geometry.location.lng();
					current.places.location_name = place.name;
					current.places.address = place.formatted_address;
					current.places.vicinity = place.vicinity;
					current.places.city = current.getAddressComponent(place, ["locality"]);
					current.places.zone = current.getAddressComponent(place, ["administrative_area_level_2"]);
					current.places.state = current.getAddressComponent(place, ["administrative_area_level_1"]);
					current.places.postal_code = current.getAddressComponent(place, ["postal_code"]);
					current.places.country = current.getAddressComponent(place, ["country"])
					infowindow.open(map, marker);
				});
			},

			getAddressComponent(place, type) {
			  	let comps = place.address_components.filter(p => p.types.some(q => type.indexOf(q) >= 0));
			  	return _.map(comps, p => p.long_name).join(', ');
			},
		}
	}
</script>