<template>
    <div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <b-message type="is-info" has-icon size="is-small">
                        Select image for delete or save in your post.
                    </b-message>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                                v-on:vdropzone-complete-multiple="successEvent" data-toggle="tooltip" data-placement="top"
                                title="Drop and drag files here to upload"></vue-dropzone>
                        </div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <button v-if="checkimages.length>0" class="btn btn-danger notika-btn-danger waves-effect pull-right"
                                @click="Delete" data-toggle="modal" data-target="#delete-confirm-bulk">Delete
                                ({{checkimages.length}} {{checkimages.length == 1 ? 'file' : 'files'}} count)</button>
                        </div>
                        <!-- delete confirm -->
                        <delete-confirm :rurl="'media/delete'" :ids="selectedId" id="delete-confirm-bulk" 
                        class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" v-on:refreshData="refetchData()">
                        </delete-confirm>
                        <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12 image-section">
                            <ul v-if="images.length>0" class="ul-image">
                                <li v-for="image in images" data-toggle="tooltip" data-placement="top" :title="image.original_name"
                                    :key="image.id" class="li-image">
                                    <input :type="type" :id="'cb' + image.id" :value="image.id" v-model="checkimages" @change="handleCheckBox()">
                                    <label :for="'cb' + image.id">
                                        <img :src="image.save_name" class="responsive">
                                    </label>
                                </li>
                            </ul>
                            <div v-if="images.length<=0">
                                <p style="padding-top:20px;">No files are uploaded!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" v-if="checkimages.length>0 || checkimages">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="button is-default" data-dismiss="modal" @click="close">close</a>
                            <a class="button is-focused" data-toggle="modal" @click.prevent="save" data-dismiss="modal">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import helper from "../../services/helper.js";
    import vue2Dropzone from "vue2-dropzone";
    import "vue2-dropzone/dist/vue2Dropzone.min.css";
    import DeleteConfirm from "./confirm-delete";
    export default {
        components: {
            vueDropzone: vue2Dropzone,
            DeleteConfirm
        },
        props: {
            type: String,

        },
        data() {
            return {
                checkimages: this.type=='radio' ? {} :[],
                images: [],
                errors: [],
                selectedId: [],
                storeSuccess: [],
                dropzoneOptions: {
                    url: "/api/media/upload",
                    headers: {
                        Authorization: "Bearer " + localStorage.getItem("access_token")
                    },
                    parallelUploads: 10,
                    uploadMultiple: true,
                    thumbnailWidth: 150, // px
                    thumbnailHeight: 150,
                    addRemoveLinks: true
                },
                baseUrl: this.$store.getters.getBaseUrl
            };
        },
        mounted() {
            this.init();
        },
        methods: {
            handleCheckBox(){
                if(this.checkimages == true){
                    this.checkimages=[];
                }
                else if(this.checkimages == false){
                    this.checkimages = [];
                }
            },
            init() {
                this.$root.loading = true;
                var url = "/api/media";
                axios
                    .get(url)
                    .then(response => {
                        this.$root.loading = false;
                        this.images = response.data.data;
                        console.log(this.images);
                    })
                    .catch(error => {
                        this.$root.loading = false;
                        console.log((this.errors = error));
                    });
            },

            successEvent(file) {
                file.forEach(function (f) {
                    f.previewElement.remove();
                });
                this.init();
            },

            close() {
                //reset checked images
                this.checkimages = [];
            },

            Delete() {
                this.selectedId = this.checkimages;
            },

            refetchData: function () {
                this.init();
                this.checkimages = [];
                $("#delete-confirm-bulk").modal("hide");
            },
            save() {
                let images;
                if(this.checkimages.length> 0){
                    images= [];
                    for(let prop in this.checkimages){
                        console.log(this.checkimages[prop]);
                        let image = this.images.find((item)=>{
                            return item.id == this.checkimages[prop];
                        });
                        images.push(image);
                    }
                }
                else{
                    images = this.images.find((item)=>{
                        return item.id == this.checkimages;
                    });
                }
                this.checkimages = [];
                this.$emit('fetchPostImg',images);
            }
        }
    };

</script>
<style scoped>
    .modal-footer {
        /*padding-top: 10px !important;
        margin-right: -15px;*/
        padding-top: 10px;
    }

    ul.ul-image{
        list-style-type: none;
    }

    li.li-image {
        display: inline-block;
    }

    .li-image input[type="checkbox"][id^="cb"] {
        display: none;
    }

    .li-image input[type="radio"][id^="cb"] {
        display: none;
    }

    .li-image label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 7px;
        cursor: pointer;
    }

    .li-image label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    .li-image label img {
        height: 100px;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

    :checked+label {
        border-color: #ddd;
    }

    :checked+label:before {
        content: "✓";
        background-color: grey;
        transform: scale(1);
    }

    :checked+label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
    }

    .image-section {
        border: 2px solid #e5e5e5;
        margin-top: 20px;
        height: 320px;
        overflow-y: auto;
    }

    .modal-dialog.modal-large {
        margin-top: 30px !important;
        width: 100%;
        max-width: 750px;
        margin-left: 24%;
    }

    .modal-backdrop {
        z-index: 1;
    }

    .modal-content,
    .modal-card {
        height: auto;
        max-height: 100%;
        overflow: auto;
        position: relative;
        padding: 15px;
    }

    .modal-lg .close {
        padding: 5px !important;
        /* margin-top: -20px;
        margin-right: -20px; */
        padding-bottom: 0;
    }

    .modal-content,
    .modal-card {
        width: 100%;
    }

    @media (max-width: 576px) {
        .modal-dialog.modal-lg {
            margin-left: 0;
            width: 90%;
            margin-left: 2%;
            max-width: 576px;
        }
        .image-section {
            height: 180px;
            overflow-y: auto;
        }

        .image-section ul li {
            width: 50%;
        }
    }

    @media (max-width: 668px) {
        .image-section {
            height: 200px;
            overflow-y: auto;
        }
        .image-section ul li {
            width: 33.33%;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .modal-dialog.modal-lg {
            width: 88%;
            margin-left: 5%;
        }
        .image-section {
            height: 250px;
            overflow-y: auto;
        }
    }
    .message.is-info{
        width: 100%;
    }

</style>
