<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">{{title}}</h5>
                        </div>
                        <div class="card-body">
                            <b-message type="is-danger" has-icon v-if="vError" size="is-small">
                                {{vError}}
                            </b-message>
                            <form @submit.prevent="submit">
                                <div class="columns">
                                    <div class="column is-4">
                                        <b-field label="First Name"
                                            :type="{'is-danger' : (bErrors.has('first_name') || serrors.has('first_name'))}" 
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('first_name') ? serrors.get('first_name'): bErrors.first('first_name')"
                                        >
                                            <b-input placeholder="enter the first name"
                                                type="text"
                                                v-validate="'required'" 
                                                v-model="user.first_name"
                                                name="first_name">
                                            </b-input>
                                        </b-field>
                                    </div>
                                    <div class="column is-4">
                                        <b-field label="Last Name"
                                            label-position="on-border"
                                            custom-class="is-medium"
                                        >
                                            <b-input type="text" v-model="user.last_name"></b-input>
                                        </b-field>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">
                                        <div class="field">
                                            <b-switch v-model="switchPassword">
                                                Password Change?
                                            </b-switch>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns" v-if="switchPassword">
                                    <div class="column is-4">
                                        <b-field label="Password"
                                            :type="{'is-danger': bErrors.has('password')}"
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            @change="handlePassword()"
                                            :message="bErrors.first('password')">
                                            <b-input placeholder="Password"
                                                type="password"
                                                icon="lock" 
                                                v-model="user.password" 
                                                v-validate="'required|min:8'"
                                                autocomplete="off" 
                                                name="password">
                                            </b-input>
                                        </b-field>
                                    </div>
                                    <div class="column is-4">
                                        <b-field label="Confirm Password"
                                            :type="{'is-danger': bErrors.has('password_confirmation')}"
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="[{
                                                'The confirm password field is required' : bErrors.firstByRule('password_confirmation', 'required'),
                                                'The confirm password is not valid' : bErrors.firstByRule('password_confirmation', 'is')
                                            }]">
                                            <b-input
                                                type="password"
                                                icon="lock" 
                                                v-model="user.password_confirmation" 
                                                v-validate="{ required: true, is: user.password, min: 8}" 
                                                name="password_confirmation">
                                            </b-input>
                                        </b-field>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">
                                        <b-field label="Phone Number"
                                            :type="{'is-danger': bErrors.has('phone_no') || serrors.has('phone_no')}"
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('phone_no') ? serrors.get('phone_no'): bErrors.first('phone_no')">
                                            <b-input placeholder="Phone Number"
                                                type="text"
                                                v-model="user.phone_no" 
                                                v-validate="'required'"
                                                name="phone_no">
                                            </b-input>
                                        </b-field>
                                    </div>
                                    <div class="column is-4">
                                        <b-field label="Mobile Number"
                                            :type="{'is-danger': bErrors.has('mobile_no') || serrors.has('mobile_no')}"
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('mobile_no') ? serrors.get('mobile_no'): bErrors.first('mobile_no')"
                                            >
                                            <b-input
                                                type="text"
                                                v-model="user.mobile_no" 
                                                v-validate="'required'" 
                                                placeholder="Mobile No"
                                                name="mobile_no">
                                            </b-input>
                                        </b-field>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-half">
                                        <b-field label="Address"
                                            :type="{'is-danger': bErrors.has('address') || serrors.has('address')}"
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('address') ? serrors.get('address'): bErrors.first('address')"
                                            >
                                            <b-input
                                                type="textarea"
                                                v-model="user.address" 
                                                v-validate="'required'" 
                                                placeholder="Valid Address"
                                                name="address">
                                            </b-input>
                                        </b-field>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-full">
                                        <div class="field is-grouped">
                                            <p class="control">
                                                <a class="button is-info" href="#" @click.prevent="featureImages()">
                                                  Select Profile Picture
                                                </a>
                                            </p>
                                        </div>
                                        <div class="tile is-ancestor">
                                            <div class="tile is-4 is-vertical">
                                                <div class="tile">
                                                    <div class="tile is-parent">
                                                        <article class="tile is-child box">
                                                            <ul class="ul-checkbox" v-if="user.profileimage">
                                                                <li class="li-checkbox">
                                                                    <input type="checkbox" id="cbp-id">
                                                                    <label for="cbp-id">
                                                                        <img :src="user.profileimage.save_name" width="100px" height="100px">
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                            <ul v-else>
                                                                <b-message type="is-info" has-icon size="is-small">
                                                                    No image selected!
                                                                </b-message>
                                                            </ul>
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-half">
                                    <button class="button is-success">{{title}}</button>
                                </div>
                            </form>
                        </div>
                        <medias :type="type" v-on:fetchPostImg="fetchPostImg" class="modal fade" id="pimages" role="dialog" data-backdrop="static" data-keyboard="false"></medias>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BreadCrum from "../commons/breadcrum";
    import Medias from "../commons/medias";
    import {Errors} from '../commons/validator.js';
    export default {
        components: {
            BreadCrum,
            Medias
        },
        mounted(){
            this.init();
        },
        computed: {
            permissions(){
                return this.$store.getters.getPermissions;
            }
        },
        data(){
            return {
                baseUrl: this.$store.getters.getBaseUrl,
                title: "Update Profile",
                type: 'radio',
                vError: '',
                serrors: new Errors(),
                switchPassword: false,
                image: '',
                user: {}
            }
        },
        methods: {
            init(){
                let url = '/api/common/profile';
                axios.get(url).then((res)=>{
                    this.user = res.data.profile
                })
            },
            fetchPostImg(data){
                if(this.type == 'radio'){
                    this.user.profileimage = data;
                }
            },
            featureImages(){
                $('#pimages').modal('show');
            },
            submit(){
                this.$validator.validateAll().then((valid)=>{
                    if(valid){
                        this.handleSubmit()
                    }
                    else{
                        return false;
                    }
                })
            },

            handleSubmit(){
                let url = '/api/common/update-profile';
                this.$root.loading = true;
                this.user.password_status = this.switchPassword;
                if(!this.switchPassword){
                    if(this.user.password){
                        delete this.user.password;
                    }
                    if(this.user.password_confirmation){
                        delete this.user.password_confirmation;
                    }
                }
                axios.post(url,this.user).then((res)=>{
                    this.$root.loading = false;
                    this.user = res.data.profile;
                    this.$store.commit('setProfile',res.data.profile);
                }).catch((error)=>{
                    this.$root.loading = false;
                    this.vError = error.response.data.message;
                    this.serrors.record(error.response.data.errors);
                })
                
            }
        }
    };

</script>
<style>
    .multiselect ul {
        margin-left: 0 !important;
    }
    ul.ul-checkbox {
        list-style-type: none;
        
    }
    ul.ul-checkbox1 {
        list-style-type: none;
        
    }

    li.li-checkbox {
        display: inline-block;
    }

    .li-checkbox input[type="checkbox"][id^="cb"] {
        display: none;
    }

    .li-checkbox input[type="radio"][id^="cb"] {
        display: none;
    }

    .li-checkbox label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 7px;
        cursor: pointer;
    }

    .li-checkbox label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    .li-checkbox label img {
        height: 100px;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

    :checked+label {
        border-color: #ddd;
    }

    :checked+label:before {
        content: "✓";
        background-color: grey;
        transform: scale(1);
    }

    :checked+label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
    }
</style>