<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">{{title}}</h5>
                        </div>
                        <div class="card-body">
                            <b-message type="is-danger" has-icon v-if="vError" size="is-small">
                                {{vError}}
                            </b-message>
                            <form @submit.prevent="submit">
                                <div class="columns">
                                    <div class="column is-4">
                                        <b-field label="Select Posts"
                                            :type="{'is-danger' : (bErrors.has('post') || serrors.has('post'))}" 
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('post') ? serrors.get('post'): bErrors.first('post')"
                                        >
                                            <multiselect v-model="slider.post" 
                                            :options="posts" 
                                            placeholder="Select posts"
                                            track-by="slug" label="post_title" 
                                            :multiple="false"
                                            :class="bErrors.first('post') ? 'input-error': ''"
                                            v-validate="'required'" 
                                            name="post"></multiselect>
                                        </b-field>
                                    </div>
                                    <div class="column is-4">
                                        <b-field label="Cost"
                                            :type="{'is-danger' : (bErrors.has('cost') || serrors.has('cost'))}" 
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('cost') ? serrors.get('cost'): bErrors.first('cost')"
                                        >
                                            <b-input placeholder="Enter the cost"
                                                type="text"
                                                v-validate="'required'"
                                                v-model="slider.cost"
                                                name="cost">
                                            </b-input>
                                        </b-field>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">
                                        <b-field label="Start Date" 
                                            :type="{'is-danger' : (bErrors.has('start_at') || serrors.has('start_at'))}" 
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('start_at') ? serrors.get('start_at'): bErrors.first('start_at')"
                                            ref="start_at"
                                        >
                                            <date-pick
                                                v-model="slider.start_at"
                                                :pickTime="true"
                                                :format="'YYYY-MM-DD HH:mm'"
                                                v-validate="requiredForDate"
                                                :class="{'input-error': (bErrors.has('start_at') || serrors.has('start_at'))}"
                                                name="start_at"
                                            ></date-pick>
                                        </b-field>
                                    </div>
                                    <div class="column is-4">
                                        <b-field label="End Date" 
                                            :type="{'is-danger' : (bErrors.has('expiry_at') || serrors.has('expiry_at'))}" 
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('expiry_at') ? serrors.get('expiry_at'): bErrors.first('expiry_at')"
                                            ref="expiry_at"
                                        >
                                            <date-pick
                                                v-model="slider.expiry_at"
                                                :pickTime="true"
                                                :format="'YYYY-MM-DD HH:mm'"
                                                v-validate="requiredForDate"
                                                :class="{'input-error': (bErrors.has('expiry_at') || serrors.has('expiry_at'))}"
                                                name="expiry_at"
                                            ></date-pick>
                                        </b-field>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-4">
                                        <b-field label="Ad Types"
                                            :type="{'is-danger' : (bErrors.has('type') || serrors.has('type'))}" 
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('type') ? serrors.get('type'): bErrors.first('type')"
                                        >
                                            <multiselect v-model="slider.type" 
                                            :options="types" 
                                            placeholder="Select posts"
                                            track-by="value" label="name" 
                                            :multiple="false"
                                            :class="bErrors.first('type') ? 'input-error': ''"
                                            v-validate="'required'" 
                                            name="type"></multiselect>
                                        </b-field>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-half">
                                        <button class="button is-success">{{title}}</button>
                                        <router-link to="/sliders" class="button is-default">Cancel</router-link>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BreadCrum from "../commons/breadcrum";
    import {Errors} from '../commons/validator.js';
    import DatePick from "vue-date-pick";
    import "vue-date-pick/dist/vueDatePick.css";
    export default{
        components:{
            BreadCrum, DatePick
        },
        computed: {
            'requiredForDate'() {
                return 'required';
            }
        },
        data(){
            return {
                serrors: new Errors(),
                vError: '',
                title: '',
                slider: {},
                sliders: [],
                posts: [],
                types: [
                    {id: 1, name: "slider", value: "slider"},
                    {id: 2, name: "feature", value: "feature"}
                ],
                id: null,
                baseUrl: this.$store.getters.getBaseUrl
            }
        },
        mounted(){
            this.url = '/api/slider/create';
            this.title = "Create Slider";
            if(this.$route.params.id){
                this.initEdit();
                this.edit = true;
                this.id = this.$route.params.id;
                this.url = '/api/slider/update/'+this.$route.params.id;
                this.title = "Update Slider";
            }
            this.getPosts();
        },
        methods:{
            submit(){
                this.$validator.validateAll().then((valid)=>{
                    if(valid){
                        this.handleSubmit();
                    }
                    else{
                        return false;
                    }
                })
            },
            handleSubmit(){
                this.$root.loading = true;
                axios.post(this.url, this.slider).then((res)=>{
                    this.$root.loading = false;
                    this.$router.push('/sliders')
                }).catch((error)=>{
                    this.$root.loading = false;
                    this.vError = error.response.data.message;
                    this.serrors.record(error.response.data.errors);
                })
            },
            initEdit(){
                let url = '/api/slider/'+this.$route.params.id+'/edit';
                axios.get(url).then((res)=>{
                    this.slider = res.data.edit;
                    let type = this.types.filter(r=>r.value == res.data.edit.type);
                    this.slider.type = type[0];
                }).catch((error)=>{
                    console.log(error)
                })
            },
            getPosts(){
                axios.get('/api/common/posts').then((res)=>{
                    this.posts = res.data.posts;
                }).catch((error)=>{
                    console.log(error);
                })
            },
        }

    }
</script>
