<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <data-table :columns="columns" :commons="commons" ></data-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BreadCrum from "../commons/breadcrum";
    import dataTable from "../commons/common-server-side-data-table";
    export default {
        components: {
            BreadCrum, dataTable
        },
        data() {
            return {
                columns: [
                {
                    name: 'post_title',
                    sort: false,
                    children: false,
                    switch: false,
                    event: false,
                    titleLimitTo: true,
                    objectchild: true,
                    relation_name: 'post',
                    label: "Title"
                },
                {
                    name: 'type',
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    objectchild: false,
                    label: "Type"
                },
                {
                    name: 'status',
                    sort: true,
                    children: false,
                    switch: true,
                    event: false,
                    label: "Status",
                },
                {
                    name: "start_at",
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "Start Date"
                },
                {
                    name: "expiry_at",
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "Expiry Date"
                },
                {
                    name: "created_at",
                    sort: true,
                    children: false,
                    switch: false,
                    event: false,
                    label: "created_at",
                    width: "180"
                }
                ],
                commons: {
                    url: "sliders",
                    title : "Sliders",
                    addUrl : "/slider/create",
                    editUrl : "sliders",
                    deleteUrl : "sliders/delete",
                    switchUrl: "sliders",
                    linkTo: "posts"
                }

            }
        },
        mounted() {
        },
        methods: {
            
        }
    };

</script>