<template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">{{title}}</h5>
                        </div>
                        <div class="card-body">
                            <b-message type="is-danger" has-icon v-if="vError" size="is-small">
                                {{vError}}
                            </b-message>
                            <form @submit.prevent="submit">
                                <div class="column">
                                    <div class="column is-half">
                                        <b-field label="Name"
                                            :type="{'is-danger' : (bErrors.has('name') || serrors.has('name'))}" 
                                            label-position="on-border"
                                            custom-class="is-medium"
                                            :message="serrors.has('name') ? serrors.get('name'): bErrors.first('name')">
                                            <b-input placeholder="Name"
                                                type="text"
                                                v-model="role.name" 
                                                v-validate="'required'" 
                                                name="name">
                                            </b-input>
                                        </b-field>
                                    </div>
                                    <div class="column is-half">
                                        <b-field label="Description"
                                            custom-class="is-medium"
                                            label-position="on-border">
                                            <b-input type="textarea" v-model="role.description"></b-input>
                                        </b-field>
                                    </div>
                                    <div class="column is-half">
                                        <button class="button is-success">Create</button>
                                        <router-link to="/roles" class="button is-default">Cancel</router-link>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {Errors} from '../commons/validator.js'
    export default {
        data(){
            return {
              role:{},
              baseUrl:this.$store.getters.getBaseUrl,
              serrors: new Errors(),
              url: '',
              title: '',
              vError: ''
            }
        },
        mounted(){
            this.url = '/api/role/create';
            this.title = "Create Role";
            if(this.$route.params.id){
                this.initEdit();
                this.url = '/api/role/update/'+this.$route.params.id;
                this.title = "Update Role";
            }
        },
        methods: {
            submit(){
                this.$validator.validateAll().then((valid)=>{
                    if(valid){
                        this.roleSubmit();
                    }
                    else{
                        return false
                    }
                })
            },
            roleSubmit(){
                this.$root.loading = true
                axios.post(this.url, this.role).then((response) => {
                    this.$root.loading = false;
                    this.$router.push('/roles');
                }).catch((error)=>{
                    this.$root.loading = false;
                    this.vError = error.response.data.message;
                    this.serrors.record(error.response.data.errors);
                });
            },

            initEdit(){
                let id = this.$route.params.id;
                let url = '/api/role/'+id+'/edit';
                axios.get(url).then(response => {
                    this.role = response.data;
                });
            }
        }
  }
</script>
