 <template>
    <div>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <data-table :columns="columns" :commons="commons" ></data-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import BreadCrum from "../commons/breadcrum";
import dataTable from "../commons/common-server-side-data-table";
export default {
  components: {
    BreadCrum,
    dataTable
  },
  data() {
    return {
        columns: [
        {
            name: 'name',
            sort: true,
            label: "Name"
        },
        {
            name: 'description',
            sort: false,
            label: "Description"
        },
        {
            name: "status",
            sort: true,
            switch: true,
            label: "Status"
        },
        {
            name: "created_at",
            sort: true,
            label: "created_at",
            width: "180"
        }],
        commons: {
            url: "roles",
            title : "Roles",
            addUrl : "/role/create",
            editUrl : "role",
            deleteUrl : "roles/delete",
            switchUrl: "roles"
        }
    };
  },
  mounted() {
  },
  methods: {
  }
};
</script>


