<template>
	<div>
		<bread-crum 
			:title="'Medias'" 
			:desc="'This is medias section. We can upload, delete files from here.'" 
			:icon="'fa fa-file'">
		</bread-crum>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="invoice-wrap">
						<button 
							class="btn btn-info notika-btn-info waves-effect" 
							data-toggle="modal" 
							data-target="#images">
								Manage Medias
						</button>
		        		<medias 
		        			v-bind:type="'checkbox'" 
		        			v-model="metas.forms" 
		        			class="modal fade" 
		        			id="images" 
		        			role="dialog" 
		        			data-backdrop="static" 
		        			data-keyboard="false">
		        		</medias>
		        	</div>
	        	</div>
	        </div>
        </div>
	</div>
</template>

<script>
	import Medias from '../commons/medias';
	import BreadCrum from '../commons/breadcrum';
	export default {
		components:{
			Medias,BreadCrum
		},
		data(){
			return {
				metas:{
					forms: []
				}
			}
		},
		mounted() {
			this.showMedias();
		},
		methods: {
			showMedias(){
				$('#images').modal('show');
			}
		}
	}
</script>
<style>
	
</style>